Repository Omnixys/omnixys-transaction-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

update
  .github/workflows/ci-cd.yml
  .github/workflows/daily-dependency-check.yml
  src/test/java/com/omnixys/transaction/TestcontainersConfiguration.java
Labels: github-actions, ci

Update TestcontainersConfiguration.java
  src/test/java/com/omnixys/transaction/TestcontainersConfiguration.java
Labels: none

refactor: update Java 23 -> 24
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependecy-check.yml
  .github/workflows/security.yml
  Dockerfile
  build.gradle.kts
  gradle/libs.versions.toml
Labels: dependencies, github-actions, ci

update gradle to gradle-8.14.2-
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/com/omnixys/transaction/TestcontainersConfiguration.java
Labels: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

update lombok
  build.gradle.kts
  gradle/libs.versions.toml
Labels: dependencies

Update TestcontainersConfiguration.java
  src/test/java/com/omnixys/transaction/TestcontainersConfiguration.java
Labels: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update TransactionApplicationTests.java
  src/test/java/com/omnixys/transaction/TransactionApplicationTests.java
Labels: none

Update Env.java
  src/main/java/com/omnixys/transaction/config/Env.java
Labels: none

chore: add Banner
  .github/workflows/daily-dependency-check.yml
  src/main/java/com/omnixys/transaction/util/Banner.java
  src/main/resources/application-dev.yml
  src/main/resources/application-test.yaml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Create update-docker-image.yml
  .github/workflows/update-docker-image.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update security.yml
  .github/workflows/security.yml
Labels: github-actions, ci

Update update-docker-image.yml
  .github/workflows/update-docker-image.yml
Labels: github-actions, ci

Update build.gradle.kts
  build.gradle.kts
Labels: dependencies

Update build.gradle.kts
  build.gradle.kts
Labels: dependencies

Update build.gradle.kts
  build.gradle.kts
Labels: dependencies

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update update-docker-image.yml
  .github/workflows/update-docker-image.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update update-docker-image.yml
  .github/workflows/update-docker-image.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

update Security.yml
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  .github/workflows/update-docker-image.yml
  build.gradle.kts
Labels: dependencies, github-actions, ci

Update release.yml
  .github/workflows/release.yml
Labels: github-actions, ci

Update docker-weekly.yml
  .github/workflows/docker-weekly.yml
Labels: github-actions, ci

Update security.yml
  .github/workflows/security.yml
Labels: github-actions, ci

Update docker-weekly.yml
  .github/workflows/docker-weekly.yml
Labels: github-actions, ci

update image
  .github/workflows/ci-cd.yml
  .github/workflows/docker-weekly.yml
  .github/workflows/security.yml
  Dockerfile
Labels: github-actions, ci

Update security.yml
  .github/workflows/security.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update docker-weekly.yml
  .github/workflows/docker-weekly.yml
Labels: github-actions, ci

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Labels: github-actions, ci

Update auto-label.yml
  .github/workflows/auto-label.yml
Labels: github-actions, ci

.github/labeler.yml:

# .github/labeler.yml

dependencies:
  - '**/build.gradle'
  - '**/build.gradle.kts'

github-actions:
  - '.github/workflows/*.yml'

ci:
  - '.github/**'
  - 'devtools/**'
